p {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#area-cabecalho{
  text-align: center;
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(24, 188, 156), rgb(44, 62, 80)) ;
}
 .foto1{
   width: 250px;
   
    
 } 
#area-cabecalho{
   
   
  width: 80%;
  margin: 0px auto;
  height: 400px;
}

.foto-perfil {
  height: 100%;
  max-width: auto;
  border-radius: 50%;
}

.icones {
  padding-left: 5px;
}

.titulosBrancos {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.titulosVerdes {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #18bc9c;
}

.paragrafoBrancos {
  color: white !important;
}

.jumbotron {
  margin-bottom: 0px;
}

html {
  scroll-behavior: smooth;
}

p {
  color: black !important;
}

.corPrimaria {
  background-color: #18bc9c;
}

.itemMenu {
  color: white;
}

/*
****************links ***************** 
*/

.navbar-nav a:hover{
  color: red;
  background: rgb(26, 26, 80);
}